header
    nav.navbar.navbar-fixed-top.mobile-nav-top
        .container-fluid
            .site-nav-wrapper
                // Main Menu
                //a.navbar-brand(href='/' style='padding-left: 50px')
                //    img.img-rsz(src="/img/logo/websites-warehouse-logo-light-new.png" width="95px" height="95px" alt="logo")
                    //img.img-rsz.img-media-q(src="/img/logo/websites-warehouse-new-light-4.png" width='95px' height='95px' alt="logo")
                .container
                    .navbar-header
                        span#mobile-nav-open-btn ☰
                        a.navbar-brand(href='/')
                            img.img-rsz(src="/img/logo/websites-warehouse-logo-light-new.png" width="95px" height="95px" alt="logo")
                        //    img.img-rsz.img-media-q(src="/img/logo/websites-warehouse-new-light-4.png" width='95px' height='95px' alt="logo")
                    .collapse.navbar-collapse
                        ul.nav.navbar-nav.pull-right.wh
                            //li
                            //    a(href='/') Home
                            li
                                a.ipad-m(href='#') Websites
                                ul.nav-sub-style
                                    li
                                        a.smooth-scroll.ipad-m(href='#business-websites') beauty
                                        ul.nav-sub-style.sub-menu-dropdown
                                            each website in beautyWebsites
                                                li
                                                    a.ipad-m(href=`/website/${website.slug}`)= website.name
                                    li
                                        a.smooth-scroll.ipad-m(href='#business-websites') branding
                                        ul.nav-sub-style.sub-menu-dropdown(style="top: 35px;")
                                            each website in brandingWebsites
                                                li
                                                    a.ipad-m(href=`/website/${website.slug}`)= website.name
                                    li
                                        a.smooth-scroll.ipad-m(href='#business-websites') clothing
                                        ul.nav-sub-style.sub-menu-dropdown(style="top: 42px;")
                                            each website in clothingWebsites
                                                li
                                                    a.ipad-m(href=`/website/${website.slug}`)= website.name
                                    li
                                        a.smooth-scroll.ipad-m(href='#business-websites') design
                                        ul.nav-sub-style.sub-menu-dropdown(style="top: 126px;")
                                            each website in designWebsites
                                                li
                                                    a.ipad-m(href=`/website/${website.slug}`)= website.name
                                    li
                                        a.smooth-scroll.ipad-m(href='#clothing-websites') dynamic
                                        ul.nav-sub-style.sub-menu-dropdown(style="top: 50px;")
                                            each website in dynamicWebsites
                                                li
                                                    a.ipad-m(href=`/website/${website.slug}`)= website.name
                                    li
                                        a.smooth-scroll.ipad-m(href='#clothing-websites') event
                                        ul.nav-sub-style.sub-menu-dropdown(style="top: 210px;")
                                            each website in eventWebsites
                                                li
                                                    a.ipad-m(href=`/website/${website.slug}`)= website.name
                                    li
                                        a.smooth-scroll.ipad-m(href='#clothing-websites') fitness
                                        ul.nav-sub-style.sub-menu-dropdown(style="top: 232px;")
                                            each website in fitnessWebsites
                                                li
                                                    a.ipad-m(href=`/website/${website.slug}`)= website.name
                                    li
                                        a.smooth-scroll.ipad-m(href='#clothing-websites') food
                                        ul.nav-sub-style.sub-menu-dropdown(style="top: 294px;")
                                            each website in foodWebsites
                                                li
                                                    a.ipad-m(href=`/website/${website.slug}`)= website.name
                                    li
                                        a.smooth-scroll.ipad-m(href='#clothing-websites') service
                                        ul.nav-sub-style.sub-menu-dropdown(style="top: 292px;")
                                            each website in serviceWebsites
                                                li
                                                    a.ipad-m(href=`/website/${website.slug}`)= website.name
                                    li
                                        a.smooth-scroll.ipad-m(href='#business-websites') shopify
                                        ul.nav-sub-style.sub-menu-dropdown(style="top: 275px;")
                                            each website in shopifyWebsites
                                                li
                                                    a.ipad-m(href=`/website/${website.slug}`)= website.name
                                    li
                                        a.smooth-scroll.ipad-m(href='#clothing-websites') static
                                        ul.nav-sub-style.sub-menu-dropdown(style="top: 360px;")
                                            each website in staticWebsites
                                                li
                                                    a.ipad-m(href=`/website/${website.slug}`)= website.name
                                    li
                                        a.smooth-scroll.ipad-m(href='#business-websites') travel
                                        ul.nav-sub-style.sub-menu-dropdown(style="top: 462px;")
                                            each website in travelWebsites
                                                li
                                                    a.ipad-m(href=`/website/${website.slug}`)= website.name




                            li
                                a.ipad-m(href='/') Pricing
                            li
                                a.ipad-m(href='/') Contact
                            if user

                                li
                                    a(style="padding-top: 8px; padding-bottom: 8px;" href='/me')
                                        img.form__user-photo-2(src=`/img/users/${user.photo}` alt=`Photo of ${user.name}`)
                                        = user.name.split(' ')[0]
                                //li
                                //    a.nav__el--logout(href='/logout') Logout


                            else
                                li
                                    a(href='/login') Log in
                // Mobile Menu
                #mobile-nav
                    // Mobile Menu Close Button
                    span#mobile-nav-close-btn ×
                    #mobile-nav-content
                        ul.nav
                            li
                                a(href='/') Home
                            li
                                a.smooth-scroll.ipad-m(href="#business-websites") Shopify
                            li
                                a.smooth-scroll.ipad-m(href="#clothing-websites") Business
                            li
                                a.smooth-scroll.ipad-m(href="#fitnesshealth-websites") Landing

                            if user

                                li
                                    a(style="padding-top: 8px; padding-bottom: 8px;" href='/me')
                                        img.form__user-photo-2(src=`/img/users/${user.photo}` alt=`Photo of ${user.name}`)
                                        = user.name.split(' ')[0]
                            else
                                li
                                    a(href='/login') Log in

