// Portfolio
section#portfolio-2(style='padding-bottom: 0;\
/*background: #212226;*/\
background: rgba(0,0,0,.0001)\
')
    .isotope-filters
        .container
            .row
                // <div class="col-md-12">
                // <div class="vertical-heading-2">
                // <h5>Find Out Work</h5>
                // <h2>Our <br>Amazing <strong>Work</strong></h2>
                // </div>
                // </div>
                // <div class="col-md-12">
                // <p class="client-show-instructions">Categories</p>
                // </div>
                .col-md-12
                    .margin-bottom-g-2(style='text-align: center; margin-bottom: 25px;')
                        // <button class="btn btn-yellow active-item gallery-list-item-2 port-button-style" style="margin-top: 5px;" data-filter="all"><span class="port-span-style">All</span></button>
                        // <button class="btn btn-yellow gallery-list-item-2 port-button-style" style="margin-top: 5px;" data-filter="shopify"><span class="port-span-style">Shopify Stores</span></button>
                        // <button class="btn btn-yellow gallery-list-item-2 port-button-style" style="margin-top: 5px;" data-filter="dynamic"><span class="port-span-style">Dynamic Websites</span></button>
                        // &lt;!&ndash;                        <button class="btn btn-yellow gallery-list-item-2 port-button-style" style="margin-top: 5px;" data-filter="cms"><span class="port-span-style">CMS</span></button>&ndash;&gt;
                        // <button class="btn btn-yellow gallery-list-item-2 port-button-style" style="margin-top: 5px;" data-filter="page"><span class="port-span-style">Static Websites</span></button>
                        p.client-show-instructions
                        button.btn.btn-yellow.active-item.gallery-list-item-2.port-button-style(style='margin-top: 5px;' data-filter='all')
                            span.port-span-style All
                        // <br>
                        button.btn.btn-yellow.gallery-list-item-2.port-button-style(style='margin-top: 5px;' data-filter='beauty')
                            span.port-span-style #beauty
                        button.btn.btn-yellow.gallery-list-item-2.port-button-style(style='margin-top: 5px;' data-filter='branding')
                            span.port-span-style #branding
                        button.btn.btn-yellow.gallery-list-item-2.port-button-style(style='margin-top: 5px;' data-filter='clothing')
                            span.port-span-style #clothing
                        button.btn.btn-yellow.gallery-list-item-2.port-button-style(style='margin-top: 5px;' data-filter='design')
                            span.port-span-style #design
                        button.btn.btn-yellow.gallery-list-item-2.port-button-style(style='margin-top: 5px;' data-filter='dynamic')
                            span.port-span-style #dynamic
                        button.btn.btn-yellow.gallery-list-item-2.port-button-style(style='margin-top: 5px;' data-filter='event')
                            span.port-span-style #event
                        // <br>
                        button.btn.btn-yellow.gallery-list-item-2.port-button-style(style='margin-top: 5px;' data-filter='fitness')
                            span.port-span-style #fitness
                        button.btn.btn-yellow.gallery-list-item-2.port-button-style(style='margin-top: 5px;' data-filter='food')
                            span.port-span-style #food
                        button.btn.btn-yellow.gallery-list-item-2.port-button-style(style='margin-top: 5px;' data-filter='service')
                            span.port-span-style #service
                        button.btn.btn-yellow.gallery-list-item-2.port-button-style(style='margin-top: 5px;' data-filter='shopify')
                            span.port-span-style #shopify
                        button.btn.btn-yellow.gallery-list-item-2.port-button-style(style='margin-top: 5px;' data-filter='static')
                            span.port-span-style #static
                        button.btn.btn-yellow.gallery-list-item-2.port-button-style(style='margin-top: 5px;' data-filter='travel')
                            span.port-span-style #travel
        // Portfolio items Wrapper
        section#portfolio-wrapper-2
            .container-fluid.center-pics-2
                .row.no-gutters-2
                    #isotope-filters
                        each website in websites
                            .col-md-3.col-sm-6.col-xs-12.div-size-2.filter.shopify.clothing
                                // Portfolio Item 01
                                .portfolio-item-2.portfolio-pic-2.no-underline-2
                                    //a(href=`img/portfolio/${vacation.imageCover}`, data-title=`\
                                    //<div class='show-button'><a href='/vacation/${vacation.slug}'><button class='btn btn-client-book btn-red'>${vacation.name} getaway</button></a><p style="margin-top: 20px; font-size: 16px; font-weight: 700;">$${vacation.price} / person</p><hr><p style="font-size: 14px;"><b>${vacation.duration}</b> day trip in the ${vacation.type} - ${vacation.maxGroupSize} max group size - flight included</p><hr><p style="font-size: 14px;">${vacation.summary}</p><hr><a href='#' target='_blank'><button class='btn btn-social-i btn-instagram'><i class='fa fa-instagram'></i></button></a><a href='#' target='_blank'><button class='btn btn-social-i-f btn-facebook'><i class='fa fa-facebook'></i></button></a><a href='#' target='_blank'><button class='btn btn-social-i-t btn-twitter'><i class='fa fa-twitter'></i></button></a></div><hr>\
                                    //`)
                                    a(href=`/img/websites/${website.imageCover}` data-title=`\
                                    <div class='show-button'><a href='/website/${website.websiteLink}'><button class='btn btn-client-book btn-red'>Visit Website</button></a><a href='/website/${website.slug}'><button class='btn btn-client-book btn-red'>More Info</button></a>
<!--                                    <hr><p style="font-size: 14px;"><b>Kulture Kings</b> - Shopify Store</p>-->
    <!--                                <hr><a href='#' target='_blank'><button class='btn btn-social-i btn-instagram'><i class='fa fa-instagram'></i></button></a><a href='#' target='_blank'><button class='btn btn-social-i-f btn-facebook'><i class='fa fa-facebook'></i></button></a><a href='#' target='_blank'><button class='btn btn-social-i-t btn-twitter'><i class='fa fa-twitter'></i></button></a>-->
                                    </div>
<!--                                    <hr>-->
                                    \
                                    `)
                                        img.img-responsive(src=`/img/websites/${website.imageCover}` alt='portfolio 01')
                                        .portfolio-item-overlay-2.margin-top-g-2
                                            .portfolio-item-details-2.text-center
                                                // Item Header
                                                h3= website.name
                                                // Item Strips
                                                span
                                                // Item Description
                                                p= `#${website.websiteCategory}`
                                                p= `#${website.websiteType}`
                        //.col-md-3.col-sm-6.col-xs-12.div-size-2.filter.dynamic.branding
                        //    .portfolio-item-2.portfolio-pic-2
                        //        a(href='img/portfolio/ktmanagers-8-coverImage.png' title='Add Description')
                        //            img.img-responsive(src='img/portfolio/ktmanagers-8-coverImage.png' alt='portfolio 02')
                        //            .portfolio-item-overlay-2.margin-top-g-2
                        //                .portfolio-item-details-2.text-center
                        //                    // Item Header
                        //                    h3
                        //                        | Knight Team
                        //                        br
                        //                        | Management
                        //                    // Item Strips
                        //                    span
                        //                    // Item Description
                        //                    p
                        //                        | #branding
                        //                        br
                        //                        |  #dynamic
                        //
                        //.col-md-3.col-sm-6.col-xs-12.div-size-2.filter.shopify.clothing
                        //    .portfolio-item-2.portfolio-pic-2
                        //        a(href='img/portfolio/classic-outbreak-3-coverImage.png' title='Add Description')
                        //            img.img-responsive(src='img/portfolio/classic-outbreak-3-coverImage.png' alt='portfolio 06')
                        //            .portfolio-item-overlay-2.margin-top-g-2
                        //                .portfolio-item-details-2.text-center
                        //                    // Item Header
                        //                    h3 Classic Outbreak
                        //                    // Item Strips
                        //                    span
                        //                    // Item Description
                        //                    p
                        //                        | #clothing
                        //                        br
                        //                        |  #shopify
                        //.col-md-3.col-sm-6.col-xs-12.div-size-2.filter.shopify.service
                        //    .portfolio-item-2.portfolio-pic-2
                        //        a(href='img/portfolio/phenom-2-coverImage.png' title='Add Description')
                        //            img.img-responsive(src='img/portfolio/phenom-2-coverImage.png' alt='portfolio 04')
                        //            .portfolio-item-overlay-2.margin-top-g-2
                        //                .portfolio-item-details-2.text-center
                        //                    // Item Header
                        //                    h3
                        //                        | Phenom
                        //                        br
                        //                        | Pressure Washing
                        //                    // Item Strips
                        //                    span
                        //                    // Item Description
                        //                    p
                        //                        | #service
                        //                        br
                        //                        |  #shopify
                        //.col-md-3.col-sm-6.col-xs-12.div-size-2.filter.shopify.beauty
                        //    .portfolio-item-2.portfolio-pic-2
                        //        a(href='img/portfolio/kenihair-2-coverImage.png' title='Add Description')
                        //            img.img-responsive(src='img/portfolio/kenihair-2-coverImage.png' alt='portfolio 03')
                        //            .portfolio-item-overlay-2.margin-top-g-2
                        //                .portfolio-item-details-2.text-center
                        //                    // Item Header
                        //                    h3 Web Design
                        //                    // Item Strips
                        //                    span
                        //                    // Item Description
                        //                    p Video, Web
                        //.col-md-3.col-sm-6.col-xs-12.div-size-2.filter.shopify.beauty
                        //    .portfolio-item-2.portfolio-pic-2
                        //        a(href='img/portfolio/acne-2-coverImage.png' title='Add Description')
                        //            img.img-responsive(src='img/portfolio/acne-2-coverImage.png' alt='portfolio 05')
                        //            .portfolio-item-overlay-2.margin-top-g-2
                        //                .portfolio-item-details-2.text-center
                        //                    // Item Header
                        //                    h3 Photoshop
                        //                    // Item Strips
                        //                    span
                        //                    // Item Description
                        //                    p Web Design, Illustration
                        //.col-md-3.col-sm-6.col-xs-12.div-size-2.filter.shopify.fitness
                        //    .portfolio-item-2.portfolio-pic-2
                        //        a(href='img/portfolio/xoxo-wear-2-coverImage.png' title='Add Description')
                        //            img.img-responsive(src='img/portfolio/xoxo-wear-2-coverImage.png' alt='portfolio 07')
                        //            .portfolio-item-overlay-2.margin-top-g-2
                        //                .portfolio-item-details-2.text-center
                        //                    // Item Header
                        //                    h3 Photoshop
                        //                    // Item Strips
                        //                    span
                        //                    // Item Description
                        //                    p Web Design, Illustration
                        //.col-md-3.col-sm-6.col-xs-12.div-size-2.filter.dynamic.clothing
                        //    .portfolio-item-2.portfolio-pic-2
                        //        a(href='img/portfolio/urban-sky-4-coverImage.png' title='Add Description')
                        //            img.img-responsive(src='img/portfolio/urban-sky-4-coverImage.png' alt='portfolio 08')
                        //            .portfolio-item-overlay-2.margin-top-g-2
                        //                .portfolio-item-details-2.text-center
                        //                    // Item Header
                        //                    h3 Mobile Design
                        //                    // Item Strips
                        //                    span
                        //                    // Item Description
                        //                    p Video Web
                        //.col-md-3.col-sm-6.col-xs-12.div-size-2.filter.dynamic.travel
                        //    .portfolio-item-2.portfolio-pic-2
                        //        a(href='img/portfolio/luxury-spaces-2-coverImage.png' title='Add Description')
                        //            img.img-responsive(src='img/portfolio/luxury-spaces-2-coverImage.png' alt='portfolio 08')
                        //            .portfolio-item-overlay-2.margin-top-g-2
                        //                .portfolio-item-details-2.text-center
                        //                    // Item Header
                        //                    h3 Mobile Design
                        //                    // Item Strips
                        //                    span
                        //                    // Item Description
                        //                    p Video Web
                        //.col-md-3.col-sm-6.col-xs-12.div-size-2.filter.dynamic.beauty
                        //    .portfolio-item-2.portfolio-pic-2
                        //        a(href='img/portfolio/beverly-2-coverImage.png' title='Add Description')
                        //            img.img-responsive(src='img/portfolio/beverly-2-coverImage.png' alt='portfolio 08')
                        //            .portfolio-item-overlay-2.margin-top-g-2
                        //                .portfolio-item-details-2.text-center
                        //                    // Item Header
                        //                    h3 Mobile Design
                        //                    // Item Strips
                        //                    span
                        //                    // Item Description
                        //                    p Video Web
                        //.col-md-3.col-sm-6.col-xs-12.div-size-2.filter.dynamic.fitness
                        //    .portfolio-item-2.portfolio-pic-2
                        //        a(href='img/portfolio/achieve-fitness-2-coverImage.png' title='Add Description')
                        //            img.img-responsive(src='img/portfolio/achieve-fitness-2-coverImage.png' alt='portfolio 08')
                        //            .portfolio-item-overlay-2.margin-top-g-2
                        //                .portfolio-item-details-2.text-center
                        //                    // Item Header
                        //                    h3 Mobile Design
                        //                    // Item Strips
                        //                    span
                        //                    // Item Description
                        //                    p Video Web
                        //.col-md-3.col-sm-6.col-xs-12.div-size-2.filter.dynamic.service
                        //    .portfolio-item-2.portfolio-pic-2
                        //        a(href='img/portfolio/wess-and-clarke-2-coverImage.png' title='Add Description')
                        //            img.img-responsive(src='img/portfolio/wess-and-clarke-2-coverImage.png' alt='portfolio 08')
                        //            .portfolio-item-overlay-2.margin-top-g-2
                        //                .portfolio-item-details-2.text-center
                        //                    // Item Header
                        //                    h3 Mobile Design
                        //                    // Item Strips
                        //                    span
                        //                    // Item Description
                        //                    p Video Web
                        //.col-md-3.col-sm-6.col-xs-12.div-size-2.filter.static.event
                        //    .portfolio-item-2.portfolio-pic-2
                        //        a(href='img/portfolio/xtra-talks-2-coverImage.png' title='Add Description')
                        //            img.img-responsive(src='img/portfolio/xtra-talks-2-coverImage.png' alt='portfolio 08')
                        //            .portfolio-item-overlay-2.margin-top-g-2
                        //                .portfolio-item-details-2.text-center
                        //                    // Item Header
                        //                    h3 Mobile Design
                        //                    // Item Strips
                        //                    span
                        //                    // Item Description
                        //                    p Video Web
                        //.col-md-3.col-sm-6.col-xs-12.div-size-2.filter.static.design
                        //    .portfolio-item-2.portfolio-pic-2
                        //        a(href='img/portfolio/loose-dreams-2-coverImage.png' title='Add Description')
                        //            img.img-responsive(src='img/portfolio/loose-dreams-2-coverImage.png' alt='portfolio 08')
                        //            .portfolio-item-overlay-2.margin-top-g-2
                        //                .portfolio-item-details-2.text-center
                        //                    // Item Header
                        //                    h3 Mobile Design
                        //                    // Item Strips
                        //                    span
                        //                    // Item Description
                        //                    p Video Web
                        //.col-md-3.col-sm-6.col-xs-12.div-size-2.filter.static.service
                        //    .portfolio-item-2.portfolio-pic-2
                        //        a(href='img/portfolio/barber-shop-2-coverImage.png' title='Add Description')
                        //            img.img-responsive(src='img/portfolio/barber-shop-2-coverImage.png' alt='portfolio 08')
                        //            .portfolio-item-overlay-2.margin-top-g-2
                        //                .portfolio-item-details-2.text-center
                        //                    // Item Header
                        //                    h3 Mobile Design
                        //                    // Item Strips
                        //                    span
                        //                    // Item Description
                        //                    p Video Web
                        //.col-md-3.col-sm-6.col-xs-12.div-size-2.filter.static.food
                        //    .portfolio-item-2.portfolio-pic-2
                        //        a(href='img/portfolio/coffee-shop-2-coverImage.png' title='Add Description')
                        //            img.img-responsive(src='img/portfolio/coffee-shop-2-coverImage.png' alt='portfolio 08')
                        //            .portfolio-item-overlay-2.margin-top-g-2
                        //                .portfolio-item-details-2.text-center
                        //                    // Item Header
                        //                    h3 Mobile Design
                        //                    // Item Strips
                        //                    span
                        //                    // Item Description
                        //                    p Video Web
// End of Portfolio
