extends base

block content
    include _header2
    // BG Video
    section#home-4
        // <img src="img/about/gear2.svg" alt id="leftgear">
        // <img src="img/about/gear2.svg" alt id="rightgear">
        // Background Video
        video#home-bg-video-2(poster="video/websitewarehouse4.jpg" autoplay="" loop="" muted="" playsinline="")
            source(src="video/websitewarehouse4.mp4" type="video/mp4")
            source(src="video/websitewarehouse4.ogv" type="video/ogg")
            source(src="video/websitewarehouse4.webm" type="video/webm")
        #home-overlay-2
    // End of Build section
    // Website Templates
    #templates
        .websites-portfolio
            section#onepage-templates.page2.portfolio-style.port-bg-color-2
                .map-color-5
                    .row
                        .home-headings.tools-p-align
                            .horizontal-heading(style="margin-bottom: 2px; margin-top: -10px;")
                                h1.home-headings-2(style="margin-bottom: 2px; padding: 0;")
                                    span(style="font-size: 20px; padding: 0;") My
                                h1.home-headings-1(style="font-size: 20px; margin-bottom: 0") Purchases
                ul#examples-2(style="padding-bottom: 25px; height: 350px;")
                    li
                        a.background-map-2(href='/me') ← Back to Account Page
                    li
                        a.background-map(href='/' style="color: #0a0c0d") Go to All Websites
                portfolio-item

                    each website in websites

                        a.portfolio-item-d-overlay(style="display: inline-block; margin: 20px;" href=`/website/${website.slug}`)
                            img.img-responsive(style="width: 500px;  " src=`img/websites/${website.imageCover}` alt=`${website.name}`)
                            p.show-page-paragraph= website.name
                            p.show-page-paragraph= `${website.companyType}`
                            hr.portfolio-hr-style
                            p.show-page-paragraph(style="margin-bottom: 60px;")= `$${website.price}`


    // BG Video
    section#home-2
        img#leftgear(src="img/about/gear2.svg" alt="")
        img#rightgear(src="img/about/gear2.svg" alt="")
        // Background Video
    // End of Build section