extends base

block content
    include _header2
    section#home-4
        video#home-bg-video-2(poster="/video/websitewarehouse4.jpg" autoplay="" loop="" muted="" playsinline="")
            source(src="/video/websitewarehouse4.mp4" type="video/mp4")
            source(src="/video/websitewarehouse4.ogv" type="video/ogg")
            source(src="/video/websitewarehouse4.webm" type="video/webm")
        #home-overlay-2
    // Interactive Map
    section#pricing
        .content-box-md-interact
            div
                .map-color-3
                    .row
                        .home-headings.tools-p-align
                            .horizontal-heading(style="margin-bottom: 2px; margin-top: -10px;")
                                h1.home-headings-2(style="margin-bottom: 2px; padding: 0;")
                                    span(style="font-size: 20px; padding: 0;")  Multi-Page Templates
                .map-color-6
                    .container
                        .row
                            #content

                                section#map-section.inner.over
                                    ul#examples-2
                                        li
                                            a.background-map-2(href='/') ← Back to All Templates
                                    h2.i-map-paragraph
                                        b= `${website.companyType} - ${website.name}`
                                    hr
                                    p.website-show-page-css= website.summary
                                    .row-show.port-popup
                                        each img, i in website.images

                                            a.portfolio-item-d-overlay(href=`/img/websites/${img}`)
                                                .column-show
                                                    img(src=`/img/websites/${img}` alt=`${i + 1}` style="width:100%")
                                        //a.portfolio-item-d-overlay(href="/img/portfolio-detail/show-page/beverly-hills-models-2.png" data-title="<div class='show-button'><a href='' target='_blank'><button class='btn btn-client-book btn-red'>Visit Website</button></a></div>")
                                        //    .column-show
                                        //        img(src="/img/portfolio-detail/show-page/beverly-hills-models-2.png" alt="" style="width:100%")
                                        //a.portfolio-item-d-overlay(href="/img/portfolio-detail/show-page/beverly-hills-models-3.png" data-title="<div class='show-button'><a href='' target='_blank'><button class='btn btn-client-book btn-red'>Visit Website</button></a></div>")
                                        //    .column-show.show-page-iphone
                                        //        img(src="/img/portfolio-detail/show-page/beverly-hills-models-3.png" alt="" style="width:100%")
                                        //a.portfolio-item-d-overlay(href="/img/portfolio-detail/show-page/beverly-hills-models-4.png" data-title="<div class='show-button'><a href='' target='_blank'><button class='btn btn-client-book btn-red'>Visit Website</button></a></div>")
                                        //    .column-show.show-page-iphone
                                        //        img(src="/img/portfolio-detail/show-page/beverly-hills-models-4.png" alt="" style="width:100%")
                                    .desc.map-color-7.container-paragraph
                                        .map-paragraph
                                            h2.i-map-paragraph
                                                b= `${website.companyType} - ${website.name}`
                                            //h2.i-map-paragraph
                                            //    b= `${website.websiteType}`
                                            h2.i-map-paragraph
                                                b= `$${website.price}`
                                            hr
                                            .show-button
                                                a(href=`${website.websiteLink}` target="_blank")
                                                    button.btn.btn-client-book.btn-red Visit Website
                                                a(href="" target="_blank")
                                                    button.btn.btn-client-book.btn-red
                                                        i.fa.fa-heart-o
                                                a(href="" target="_blank")
                                                    button.btn.btn-client-book.btn-red Purchase
                                            hr
                                            p.website-show-page-css= website.description
                                            br
                                            iframe(src=`/pdf/${website.features}` width="100%" height="700px")
                                            hr
                                            li.template-p-detail
                                                hr
                                                |  More information about the website template? Email
                                                |
                                                a(href="mailto:dontrellthedeveloper@gmail.com" target="_blank") dontrellthedeveloper@gmail.com
                                            hr
    // End of Pricing
    // BG Video
    section#home-2
        img#leftgear(src="/img/about/gear2.svg" alt="")
        img#rightgear(src="/img/about/gear2.svg" alt="")
        // Background Video
    // End of Build section

